@bg-article: #D7D7D7;

.article {
  margin-top: 72px;
  background-color: @bg-article;
  .article-content();

  .container {
    padding: @spacing-xl;
    max-width: 95vw;

    @media (min-width: @breakpoint-md) {
      max-width: 80vw;
    }
  }
}

.news-spacer {
  height: 95px;
}
