---
import Base from '../../layouts/Base.astro';
import NewsList from '../../components/NewsList.astro';
---

<Base title="NEWS - RASHINBAN 2025 - GeoGuessr日本最強決定戦">
  <section class="news-spacer"></section>
  <section class="news" id="news">
    <div class="container">
      <h2 class="news__title">NEWS</h2>
      <div class="news__contents">
        <NewsList />
      </div>
    </div>
  </section>
</Base>
